<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5.32/phpunit.xsd"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="integration-tipoAlimentos-Alimentos">
            <file>bin/Tests/tipoAlimentoTest.php</file>
            <file>bin/Tests/alimentosTest.php</file>
            <file>bin/Tests/consultarAlimentosTest.php</file>
        </testsuite>

        <testsuite name="integration-Inventario-Alimentos">
            <file>bin/Tests/registrarEntradaAlimentosTest.php</file>
            <file>bin/Tests/consultarEntradaAlimentosTest.php</file>
            <file>bin/Tests/stockAlimentosTest.php</file>
            <file>bin/Tests/salidaAlimentosTest.php</file>
            <file>bin/Tests/consultarSalidaAlimentosTest.php</file>

        </testsuite>

        <testsuite name="integration-Alimentos-InventarioAlimentos">
            <file>bin/Tests/alimentosTest.php</file>
            <file>bin/Tests/consultarAlimentosTest.php</file>
            <file>bin/Tests/registrarEntradaAlimentosTest.php</file>
            <file>bin/Tests/consultarEntradaAlimentosTest.php</file>
            <file>bin/Tests/stockAlimentosTest.php</file>
            <file>bin/Tests/salidaAlimentosTest.php</file>
            <file>bin/Tests/consultarSalidaAlimentosTest.php</file>
        </testsuite>

    </testsuites>

        <php>
            <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED"/>

        </php>

</phpunit>
